.main-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.under-thumbnail {
  display: grid;
  grid-template-columns: 50px 1fr;
}



.thumbnail {
  width: 100%;
  margin-bottom: 5px;
}

.text-box {
  padding-left: 0px;
}

.channel-profile {
  height: 36px;
  width: 36px;
  object-fit: cover;
  object-position: center;
  border-radius: 18px;
}

.title {
  font-weight: bold;
  margin-top: 0;
}

.channel-name {
  margin-bottom: 0;
  opacity: 0.6;
}

.video-stats {
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.6;
}

.thumbnail-div {
  position: relative;
}

.time-stamp {
  position: absolute;
  bottom: 8px;
  right: 5px;
  background-color: black;
  color: white;
  padding: 4px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 3px;
}